/* General Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
/* Center the Logo */
.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust if needed for the container height */
}

.nav-logo-container .logo {
  height: 50px;
  cursor: pointer;
}


/* Desktop Links */
.nav-links-container {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  color: #4c4c4c; /* Default link color */
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Highlight Active Link */
.nav-link.active-link {
  color: #734c29; /* Theme color for active link */
}

/* Hover Effect */
.nav-link:hover {
  color: #734c29;
}

/* Mobile Menu Button */
.nav-menu-container {
  display: none;
  cursor: pointer;
}

.nav-menu-container svg {
  font-size: 24px;
  color: #4c4c4c;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .nav-links-container {
    display: none; /* Hide desktop links */
  }

  .nav-menu-container {
    display: block; /* Show hamburger menu */
  }
}

/* Drawer Active Link */
.MuiDrawer-root .active-link {
  color: #734c29;
  font-weight: bold;
}
